export(ann)
export(argrep)
export(combo_statdoc)
export(dat4rox)
export(doc_check)
export(examples)
export(exbutton_statdoc)
export(expand_statdoc)
export(pars4rox)
export(readme_statdoc)
export(removeDR)
export(rmd)
export(roxann)
export(search_repo)
export(ur)
import(qdap)
