export(OR)
export(ann)
export(argrep)
export(combo_statdoc)
export(dat4rox)
export(doc_check)
export(examples)
export(exbutton_statdoc)
export(expand_statdoc)
export(funbody)
export(pars4rox)
export(readme_statdoc)
export(removeDR)
export(rmd)
export(roxann)
export(roxfun)
export(roxpars)
export(search_repo)
export(see)
export(seealso)
export(ur)
import(devtools)
importFrom(qdap,Trim)
importFrom(qdap,genX)
importFrom(qdap,left_just)
importFrom(qdap,qcv)
importFrom(qdap,scrubber)
importFrom(qdap,spaste)
importFrom(qdap,termco)
importFrom(reports,delete)
importFrom(reports,folder)
importFrom(tools,file_path_sans_ext)
